<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageplaza\HelloWorld\Api\ManagementInterface"
                type="Mageplaza\HelloWorld\Service\Management"/>
    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="Mageplaza\HelloWorld\Plugin\ShipmentRepositoryPlugin"
                type="Mageplaza\HelloWorld\Plugin\ShipmentRepositoryPlugin"/>
    </type>
</config>