<div class="contact-preferences-component">
    <div class="step-title iweb-contact-preferences-title" data-role="title" data-bind="i18n: 'Your Contact Preferences'"></div>
    <div class="contact-preferences-content" data-role="content">
        <div class="contact-preference" repeat="foreach: getSelectOptions(), item: '$option'">
            <input type="checkbox" click="saveContactPreferences" ko-checked="$option().checked" attr="name: $option().value" />
            <label text="$option().label" attr="for: $option().value"></label>
        </div>
    </div>
</div>