// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Custom theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//  Color nesting
@page__background-color: @color-yellow-light1;
@sidebar__background-color: @color-yellow-light1;

// Buttons
@button__color: @color-gray-middle3;
@button__background: @color-yellow-light2;
@button__border: 1px solid @border-color__base;

//  Primary button
@button-primary__background: @color-orange-red1;
@button-primary__border: 1px solid @color-orange-red2;
@button-primary__color: @color-white;
@button-primary__hover__background: darken(@color-orange-red1, 5%);
@button-primary__hover__border: 1px solid @color-orange-red2;
@button-primary__hover__color: @color-white;

//Navigation
@navigation__background: @color-gray-light01;

//Tabs
@tab-control__background-color: @color-pink1;

//Forms
@form-element-input__background: @color-gray-light0;
@form-element-input-placeholder__color: @color-gray-light0;

//Header Icons
@header-icons-color: @color-gray60;
@header-icons-color-hover: @color-gray89;

//Links
@link__color: @color-dark-pink1;
