<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageplaza_MyInventory::myinventory" title="My Custom Inventory" translate="title" module="Mageplaza_MyInventory" 
             sortOrder="100" parent="Magento_Catalog::inventory" action="myinventory/product/index" resource="Mageplaza_MyInventory::myinventory" />
    </menu>
</config>