<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customtab" translate="label" sortOrder="10">
            <label>My Custom Tab</label>
        </tab>
        <section id="carriers">
            <tab>customtab</tab>
            <group id="startrack" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>Star Track Shipping</label>
                <!-- General options -->
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Title</label>
                </field>

                <field id="sallowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Ship to Applicable Country</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcounrty" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="multiselect">
                    <label>Ship to Specific Country</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>

                <field id="showmethod" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="41" translate="label" type="select">
                    <label>Show method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>

                <field id="specificerrmsg" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="textarea">
                    <label>Displayed Error Message</label>
                </field>

                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="51" translate="label" type="text">
                    <label>Sort Order</label>
                    <validate>alphanumeric</validate>
                </field>

                <!-- Specific options -->
                <group id="startrackstandard" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label">
                    <label><![CDATA[The "StarTrack Standard" shipping method]]></label>
                    <fieldset_css>complex</fieldset_css>
                    <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                        <label><![CDATA[Title]]></label>
                    </field>

                    <field id="shippingcost" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label><![CDATA[Shipping Cost]]></label>
                        <validate>alphanumeric</validate>
                    </field>
                </group>

                <group id="startrack48h" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label">
                    <label><![CDATA[The "StarTrack 48h" shipping method]]></label>
                    <fieldset_css>complex</fieldset_css>
                    <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                        <label><![CDATA[Title]]></label>
                    </field>

                    <field id="shippingcost" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label><![CDATA[Shipping Cost]]></label>
                        <validate>alphanumeric</validate>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>