<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mageplaza_ACLRules::menu" title="Custom Menu" sortOrder="10">
                    <resource id="Mageplaza_ACLRules::create" title="Create" sortOrder="50"/>
                    <resource id="Mageplaza_ACLRules::delete" title="Delete" sortOrder="100"/>
                    <resource id="Mageplaza_ACLRules::view" title="View" sortOrder="150">
                        <resource id="Mageplaza_ACLRules::view_additional" title="VIew Additional Information" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>